$bg-color-black: #000000;
$text-white: #ffffff;
$bg-white-main: #ffffff;
$text-black: #000000;
$theme-bg-color: #d5ac7a;
$bg-light-gray: #e6e3de;
$border-radius: 44px;
$border-color: #f0f0f080;
$border-small-radius: 25px;
$white-border: #f0f0f054;
$secondary-black-color: #1a1a1a;
$deep-gray: #83817e;
$deep-gray-border: #83817e;
$deep-gray-text: #83817e;
$secondary-bg-color: #e6e3de;
$bg-white: #f0f0f0;
