.mobile_viewer {
  margin: 10px 5px;
  display: flex;
  gap: 7px;
  flex-direction: column;
  height: calc(100vh - 20px);

  .header {
    border: 1px solid #f0f0f071;
    @include BorderRadiusDynamic(32px, 100%);
    height: 10vh;

    h2 {
      color: $text-white;
      font-weight: 400;
      font-size: 2.25rem;
      opacity: 0.9;
      letter-spacing: 1px;
    }

    .user_photoHeader {
      gap: 5px;

      p {
        color: $text-white;
        font-weight: 400;
        opacity: 0.7;
        font-size: 2rem;
      }

      svg {
        -webkit-animation: mover 1s infinite alternate;
        animation: mover 1s infinite alternate;
        width: 35px;
        height: 35px;
      }
    }
  }

  .content-body {

    .homeScreen {
      display: flex;
      align-items: center;
      gap: 5px;
      flex-direction: column;

      .image_part {
        @include BorderRadiusDynamic(32px, 100%);
        width: 100%;
        overflow: hidden;
        height: 55vh;

        img {
          width: 100%;
          height: 100%;
          object-position: center;
          object-fit: cover;
        }
      }

      .touch_remote {
        height: 25vh;
        @include BorderRadiusDynamic(35px, 100%);
        background: $theme-bg-color;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        cursor: pointer;

        .content {
          padding: 15px;
          display: flex;
          align-items: center;
          gap: 15px;
          flex-direction: column;

          h2 {
            font-size: 4.25rem;
            font-weight: 400;
            margin: 0;
            text-align: center;

            @media (max-width: 370px) {
              font-size: 2rem;
            }
          }

          svg {
            width: 67px;
            height: 67px;
            -webkit-animation: mover 1s infinite alternate;
            animation: mover 1s infinite alternate;
          }
        }
      }
    }
  }

  footer {
    background: $bg-white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 60px;
    @include BorderRadiusDynamic(25px, 100%);
    height: 11vh;

    span {
      font-size: 1.65rem;
    }

    &.black-footer {
      background: transparent;
      border: 1px solid #f0f0f071;
      color: $text-white;

      img {
        filter: invert(0) !important;
      }
    }

    img.union {
      width: 65px;
      filter: invert(1);
    }
  }
}

// WELCOME SCREEN

.welcome_sec {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .hola_sec {
    display: flex;
    height: calc(36vh - 100px);
    justify-content: space-between;
    background: $bg-white;
    flex-direction: column;
    position: relative;
    padding: 50px 30px;
    @include BorderRadiusDynamic(32px, 100%);

    .curve {
      position: absolute;
      width: 180px;
      top: -1px;
      right: -1px;
    }

    .union {
      position: absolute;
      width: 95px;
      top: 16px;
      right: 20px
    }

    .tag {
      padding: 7px 18px;
      color: $deep-gray;
      border: 1px solid $deep-gray-border;
      border-radius: 18px;
      width: fit-content;
      font-size: 1.25rem;
    }

    h2 {
      font-size: 10rem;
      margin: 0;
      color: $deep-gray;
      font-weight: 400;
    }
  }

  .instruction {
    @include BorderRadiusDynamic(25px, 100%);
    background: #c4c4bc;
    padding: 20px 10px;
    height: calc(12vh - 40px);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

    h3 {
      font-size: 2.75rem;
      font-weight: 400;
      margin: 0;
    }

    svg {
      width: 35px;
      height: 35px;
      -webkit-animation: mover 1s infinite alternate;
      animation: mover 1s infinite alternate;
    }
  }

  .image_part {
    img {
      height: 30vh;
      width: 100%;
      // object-fit: cover;
      border-radius: 30px;
    }
  }
}


.photo-content {
  position: relative;
  height: 89vh;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: transparent;
    border: 35px solid #00000049;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 31px;
    background-color: transparent;
    border: 4px solid #72E870;
  }

  .photo {
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .radius {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      border: 5px solid $text-white;
      display: grid;
      place-items: center;
      color: $text-white;
      position: absolute;
      top: 40%;
      transform: translateX(-50%);
      left: 50%;

      span {
        font-size: 5rem;
        display: block;
        font-weight: 400;
      }
    }

    .liveView {
      position: absolute;
      top: 2px;
      display: block;
      left: 50%;
      transform: translateX(-50%);
    }

    span.liveView {
      color: #1aa81a;
      font-size: 1.525rem;
    }

    .safe_zone {
      position: absolute;
      display: block;
      left: 50%;
      transform: translateX(-50%);
      bottom: 35px;
      top: auto;
      color: $text-white;
      font-size: 1.75rem;
    }
  }
}

.sessionComplete_sec {
  display: flex;
  flex-direction: column;
  gap: 5px;

  .upper_part {
    padding: 60px 35px;
    background-color: $bg-white;
    @include BorderRadiusDynamic(25px, 100%);
    height: calc(55vh - 120px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
      margin: 0;
      font-size: 5.35rem;
      font-weight: 400;
    }

    p{
      color: $deep-gray;
      font-size: 2.25rem;
      font-weight: 400;

      @media (max-width: 375px) {
        br {
          display: none;
        }
      }
    }

  }

  .down_part {
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $secondary-black-color;
    @include BorderRadiusDynamic(25px, 100%);

    @media (max-width: 390px) {
      height: 190px;
    }

    .sessionComplete {
      h3 {
        margin: 0;
        color: $text-white;
        font-weight: 400;
        opacity: 0.6;
        font-size: 3.75rem;
      }
    }
  }
}

.photo_overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
  }
}